html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $fuentePrincipal;
  font-size: 1.6rem;
}

p {
  font-size: 2rem;
  margin: 0;
  color: $verdeOscuro;
}

.contenedor {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto; //Centrar
}

a {
  text-decoration: none; //quitar interlineado
  color: $verde;
  font-size: 1.8rem;
}

img {
  max-width: 100%; //TOdas imagenes responsivas
}

h1 {
  font-size: 4rem;
  font-weight: $bold;
}

h2 {
  font-size: 3.6rem;
  color: $naranjo;
}

h3 {
  font-size: 3rem;
  margin: 0;
  color: $naranjo;
}

.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.pagina {
  padding-bottom: 5rem;
  border-bottom: solid 1px grey;
  padding-top: 5rem;
}

.boton {
  background-color: $naranjo;
  color: $verdeOscuro;
  padding: 1rem 3rem;
  margin-top: 2rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  border: none;
}
.boton:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}
