.error {
  background-color: rgb(180, 0, 0);
  text-align: center;
  padding: 1rem;
  color: var(--white);
  text-transform: uppercase;
  /* color: red; */
}

.correcto {
  background-color: rgb(0, 180, 0);
  text-align: center;
  padding: 1rem;
  color: var(--white);
  text-transform: uppercase;
  /* color: red; */
}
