$fuentePrincipal: "Neuton", serif;

//Colores
$azul: #2b71d9;
$morado: #833894;
$verde: #3cbe2b;
$verdeOscuro: #0a463c;
$negro: #000000;
$blanco: #ffffff;
$naranjo: #e38119;
// Media Queries

// FUENTES
$thin: 300;
$regular: 400;
$bold: 700;

//Separaciones
