.campos {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    margin-top: 2rem;
    gap: 1rem;
  }
}
// .servicios {
//   margin-top: 5rem;
// }

.campo {
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  text-align: center;
}

.iconos {
  background-color: $verdeOscuro;
  margin: auto auto;
  border-radius: 50%;
  padding: 2rem;
}

.iconos svg {
  // margin: 23% 0 auto 24%;
  width: 8rem;
  height: 8rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
}

.info p {
  // max-width: 75%;
  text-align: center;
}
