.contenedor-campos {
  display: flex;
  flex-direction: column;
}
.campo__formulario {
  text-align: start;
  margin-top: 2rem;
  label {
    color: $blanco;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
}

.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.formulario {
  background-color: $verdeOscuro;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;

  legend {
    font-size: 2.5rem;
    font-weight: $bold;
  }

  fieldset {
    border: none;
    color: $naranjo;
    font-size: 1.8rem;
  }
}

.comentarios {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 2rem;
  text-align: justify;
  label {
    text-align: center;
    color: $naranjo;
    font-weight: $bold;
    font-size: 2rem;
    padding-left: 1rem;
  }
  p {
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  li {
    // background-color: $azul;
    // border-radius: 2rem;
  }

  .campo__comentario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    border: solid 2px $verdeOscuro;
    border-radius: 2rem;
  }
}
.comentarios__header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 0;
}
