.galeria {
  display: grid;
  grid-template-rows: 1fr;
  gap: 3rem;
  padding: 0;
  list-style: none;

  img {
    border-radius: 5px;
  }

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
    .cascada {
      grid-row: 1 / 3;
      grid-column: 4 / 5;
    }
  }
}

.cascada {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.overlay {
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // place-items: center;
  img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 1rem;
    border: solid 1px $naranjo;
  }
}

.btn-cerrar {
  background-color: $blanco;
  color: $verdeOscuro;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.5rem;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  &:hover {
    cursor: pointer;
  }
}

.imagen_descripcion {
  background-color: $blanco;
  // margin-top: 5rem;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: $bold;
  border: solid 2px $verdeOscuro;
}
