.header {
  background-image: url("/build/img/7.webp");
  height: 70rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.barra {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
    gap: 1rem;
  }
}

.navegacion__enlance {
  display: block;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: $bold;
  width: 100%;
  color: $naranjo;
}

.header__texto {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-top: 7rem;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5rem;
  margin-left: 5rem;

  // padding: 5rem;
  @include tablet {
    flex-direction: row;
    margin-top: 5.5rem;
  }
}

.parrafos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 45rem;
  text-align: justify;

  @include tablet {
    max-width: 15rem;
    gap: 5rem;
    text-align: end;
  }
}

.header__texto p,
.header__texto h2 {
  color: $blanco;
}

.logo {
  color: $blanco;
  text-align: center;
}

.header__contenido {
  // background: linear-gradient(to top, $azul, $morado); //wen gradiente
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

// .header__contenido:hover {
//   background-color: rgba(0, 0, 0, 0.4);
//   transition: background-color 0.5s ease-in-out;

//   .navegacion a {
//     color: $verdeOscuro;
//     transition: color 0.5s ease-in-out;
//   }
// }

// .navegacion a:hover {
//   background-color: $verdeOscuro;
//   color: $blanco !important ;
// }
